*.iml
.gradle
/local.properties
/*/out
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.idea
.DS_Store
/*/*/build
/build
build
/*/*/production
*.iws
*.ipr
*~
*.swp
/captures
.externalNativeBuild
